@model JDPesca.Models.ProductEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Products.Name" class="control-label"></label>
                <input asp-for="Products.Name" class="form-control" />
                <span asp-validation-for="Products.Name" class="text-danger"></span>
            </div>

			            <div class="form-group">
                <label asp-for="Products.Description" class="control-label"></label>
                <textarea asp-for="Products.Description" class="form-control"></textarea>
                <span asp-validation-for="Products.Description" class="text-danger"></span>
            </div>

			                     <div class="form-group">
                <label asp-for="Products.Category" class="control-label"></label>

				 <select asp-for="CategoryID" class="form-control" asp-items="@ViewBag.CatList">
					
                    </select>
                                
                 
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            			
			            <div class="form-group">
                <label asp-for="Products.Price" class="control-label"></label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>

                                                <div class="form-group">
                <label asp-for="Products.Image1" class="control-label"></label>
                <input asp-for="Products.Image1" class="form-control" />
                <span asp-validation-for="Products.Image1" class="text-danger"></span>
            </div>

                                                <div class="form-group">
                <label asp-for="Products.Image2" class="control-label"></label>
                <input asp-for="Products.Image2" class="form-control" />
                <span asp-validation-for="Products.Image2" class="text-danger"></span>
            </div>

                                                <div class="form-group">
                <label asp-for="Products.Image3" class="control-label"></label>
                <input asp-for="Products.Image3" class="form-control" />
                <span asp-validation-for="Products.Image3" class="text-danger"></span>
            </div>

			            <div class="form-group">
                <label asp-for="Products.Status" class="control-label"></label>          
                      <select asp-for="Products.Status" class="form-control">
					        <option value="Publicado">Publicado</option>
                            <option value="Borrador">Borrador</option>
                    </select>
               <span asp-validation-for="Products.Status" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>



	
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
